@*gameInfo*@
@model Lemon_WebApp.Models.GameModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer  Localizer

@{

    Layout = "_MittLayout";
    ViewData["Title"] = "GameBoard";
}




<div class="gameInfo">

    @if (Model.winner != null)
    {
        <h1 id="GameWinner">@Model.winner @Localizer["is winner"]</h1>
    }
    else
    {
        <div class="gameIdLabel">
            <p>Game ID: @Model.gameId</p>
        </div>

        @if (Model.winner != null)
        {
            <h1 id="GameWinner">@Model.winner @Localizer["winner"]</h1>
        }

        string playerColor = "";

        if (Model.ludoPlayers[Model.currentPlayerId].playerColor == 0)
        {
            playerColor = "blue";
        }
        if (Model.ludoPlayers[Model.currentPlayerId].playerColor == 1)
        {
            playerColor = "yellow";
        }
        if (Model.ludoPlayers[Model.currentPlayerId].playerColor == 2)
        {
            playerColor = "red";
        }
        if (Model.ludoPlayers[Model.currentPlayerId].playerColor == 3)
        {
            playerColor = "green";
        }


        <div id="playerName" class="currentPlayer">
            <font color="@playerColor">@Model.ludoPlayers[Model.currentPlayerId].name</font>
        </div>


        <br><br>

        <div class="form-selectedPieceText">@Localizer["ChoosePiece"]</div>
        <div class="form-selectedPieceBtn">
            @using (Html.BeginForm("MovePiece", "Ludo", FormMethod.Post))
            {
                <select name="selectedPiece" id="selectedPiece" class="dropDown-piece">
                    @for (int i = 0; i < Model.ludoPlayers[Model.currentPlayerId].pieces.Count; i++)
                    {
                        <option value=@i>@int.Parse((@Model.ludoPlayers[Model.currentPlayerId].pieces[i].pieceId + 1).ToString())</option>
                    }
                </select>
                <input type="hidden" name="currentPlayerId" value="@Model.currentPlayerId">
                <input type="hidden" name="gameID" value="@Model.gameId">
                <input type="hidden" name="nameOfCurrentPlayer" value="@Model.ludoPlayers[@Model.currentPlayerId].name">
                <input type="submit" value="@Localizer["MovePieceButton"]" class="buttonSmall" id="movePieceButton">
            }
        </div>

        <br /><br /><br /><br />


        <div class="rollDice">
            <form id="rollDice" action="@Url.Action("RollDice", "Ludo")" method="post">
                <input type="submit" value="@Localizer["RollDieButton"]" class="buttonSmall" id="rollDieButton" onclick="onRollDieButtonClick()">
                <input type="hidden" name="nameOfPlayer" value="@Model.ludoPlayers[@Model.currentPlayerId].name">
            </form>
        </div>

        <div id="showValue" class="dice">
            <div class="diceDot" id="center"></div>
            <div class="diceDot" id="leftUpper"></div>
            <div class="diceDot" id="leftMiddel"></div>
            <div class="diceDot" id="leftLower"></div>
            <div class="diceDot" id="rightUpper"></div>
            <div class="diceDot" id="rightMiddel"></div>
            <div class="diceDot" id="rightLower"></div>
        </div>
    }
</div>

<div class="board">
    <div class="wing" id="leftWing">
        <div class="field" id="40"></div>
        <div class="field" id="41"></div>
        <div class="field" id="42"></div>
        <div class="field" id="43"></div>
        <div class="field" id="44"></div>
        <div class="field" id="45"></div>
        <div class="field" id="39"></div>
        <div class="field player2" id="g1"></div>
        <div class="field player2" id="g2"></div>
        <div class="field player2" id="g3"></div>
        <div class="field player2" id="g4"></div>
        <div class="field player2" id="g5"></div>
        <div class="field" id="38"></div>
        <div class="field" id="37"></div>
        <div class="field" id="36"></div>
        <div class="field" id="35"></div>
        <div class="field" id="34"></div>
        <div class="field" id="33"></div>
    </div>
    <div class="wing" id="rightWing">
        <div class="field" id="14"></div>
        <div class="field" id="15"></div>
        <div class="field" id="16"></div>
        <div class="field" id="17"></div>
        <div class="field" id="18"></div>
        <div class="field" id="19"></div>
        <div class="field" id="13"></div>
        <div class="field player3" id="y1"></div>
        <div class="field player3" id="y2"></div>
        <div class="field player3" id="y3"></div>
        <div class="field player3" id="y4"></div>
        <div class="field player3" id="y5"></div>
        <div class="field" id="12"></div>
        <div class="field" id="11"></div>
        <div class="field" id="10"></div>
        <div class="field" id="9"></div>
        <div class="field" id="8"></div>
        <div class="field" id="7"></div>
    </div>
    <div class="wing" id="topWing">
        <div class="field" id="1"></div>
        <div class="field" id="2"></div>
        <div class="field" id="3"></div>
        <div class="field" id="4"></div>
        <div class="field" id="5"></div>
        <div class="field" id="6"></div>
        <div class="field" id="52"></div>
        <div class="field player4" id="b1"></div>
        <div class="field player4" id="b2"></div>
        <div class="field player4" id="b3"></div>
        <div class="field player4" id="b4"></div>
        <div class="field player4" id="b5"></div>
        <div class="field" id="51"></div>
        <div class="field" id="50"></div>
        <div class="field" id="49"></div>
        <div class="field" id="48"></div>
        <div class="field" id="47"></div>
        <div class="field" id="46"></div>
    </div>
    <div class="wing" id="bottomWing">
        <div class="field" id="27"></div>
        <div class="field" id="28"></div>
        <div class="field" id="29"></div>
        <div class="field" id="30"></div>
        <div class="field" id="31"></div>
        <div class="field" id="32"></div>
        <div class="field" id="26"></div>
        <div class="field player1" id="r1"></div>
        <div class="field player1" id="r2"></div>
        <div class="field player1" id="r3"></div>
        <div class="field player1" id="r4"></div>
        <div class="field player1" id="r5"></div>
        <div class="field" id="25"></div>
        <div class="field" id="24"></div>
        <div class="field" id="23"></div>
        <div class="field" id="22"></div>
        <div class="field" id="21"></div>
        <div class="field" id="20"></div>
    </div>
    <div class="goal"></div>
    <div class="start player1">
        <div class="field">
            <div class="brick player1" id="redPiece1"><br />1</div>
        </div>
        <div class="field">
            <div class="brick player1" id="redPiece2"><br />2</div>
        </div>
        <div class="field">
            <div class="brick player1" id="redPiece3"><br />3</div>
        </div>
        <div class="field">
            <div class="brick player1" id="redPiece4"><br />4</div>
        </div>
    </div>
    <div class="start player2">
        <div class="field">
            <div class="brick player2" id="greenPiece1"><br />1</div>
        </div>
        <div class="field">
            <div class="brick player2" id="greenPiece2"><br />2</div>
        </div>
        <div class="field">
            <div class="brick player2" id="greenPiece3"><br />3</div>
        </div>
        <div class="field">
            <div class="brick player2" id="greenPiece4"><br />4</div>
        </div>
    </div>
    <div class="start player3">
        <div class="field">
            <div class="brick player3" id="yellowPiece1"><br />1</div>
        </div>
        <div class="field">
            <div class="brick player3" id="yellowPiece2"><br />2</div>
        </div>
        <div class="field">
            <div class="brick player3" id="yellowPiece3"><br />3</div>
        </div>
        <div class="field">
            <div class="brick player3" id="yellowPiece4"><br />4</div>
        </div>
    </div>
    <div class="start player4">
        <div class="field">
            <div class="brick player4" id="bluePiece1"><br />1</div>
        </div>
        <div class="field">
            <div class="brick player4" id="bluePiece2"><br />2</div>
        </div>
        <div class="field">
            <div class="brick player4" id="bluePiece3"><br />3</div>
        </div>
        <div class="field">
            <div class="brick player4" id="bluePiece4"><br />4</div>
        </div>
    </div>

    @for (var i = 0; i < Model.ludoPlayers.Count; i++)
    {
        LudoPlayer player = Model.ludoPlayers[i];

        string color = string.Empty;
        switch (player.playerColor)
        {
            case 0:
                color = "blue";
                break;
            case 1:
                color = "yellow";
                break;
            case 2:
                color = "red";
                break;
            case 3:
                color = "green";
                break;
        }

        // Iterate through the player's pieces.
        foreach (var piece in player.pieces)
        {
            string pieceId = color + "Piece" + (piece.pieceId + 1);

            // Field Id indicates a global position (board position).
            int globalPosition =
                piece.position + Model.ludoPlayers[i].offset > 52
                ? piece.position + Model.ludoPlayers[i].offset - 52
                : piece.position + Model.ludoPlayers[i].offset;

            // After 52 steps, pieces should continue on goal path.
            if (piece.state == 1)
            {
                <script> $('#@pieceId').appendTo('#@globalPosition'); </script>
            }
            else if (piece.state == 2)
            {
                var goalPathPosition = color.First().ToString() + (piece.position - 52);
                <script> $('#@pieceId').appendTo('#@goalPathPosition'); </script>
            }
            else if (piece.state == 3)
            {
                <script> $('#@pieceId').remove(); </script>
            }
        }
    }

    <script>
        function onRollDieButtonClick() {
            var rollDieButton = document.getElementById('rollDieButton');
            var movePieceButton = document.getElementById('movePieceButton');
            rollDieButton.style.visibility = "hidden";
            movePieceButton.style.visibility = "visible";
        }
    </script>
    <script src="~/js/site.js"></script>
</div>